/*simple reset*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	background: #fff;
	font: 16px/18px Arial,sans-serif;
}
input{
	border: 2px solid #aaa;
	border-radius: 5px;
	padding: 5px;
	width: 400px;
	margin: auto;
	text-align: center;
	outline: none;
	margin-left: 44px;
}
.logo a{
	background: url('img/techumberlogo.png') no-repeat;
	width: 190px;
	height: 90px;
	display: block;
	margin: 10px auto;
	position: relative;
}
.logocircle {
	-webkit-animation: spin 1s infinite linear;
	background-color: transparent;
	border: 5px solid rgba(0,0,0,0.9);
	border-left: 5px solid transparent;
	border-radius: 110px;
	border-right: 5px solid transparent;
	height: 85px;
	opacity: .9;
	width: 85px;
	position: absolute;
	top: 7px;
	left: 50%;
	margin-left: -100px;
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg);  }
}

#out{
	padding: 20px;
}
#out div{
	padding-bottom: 20px;
}
#out h2{
	font-size: 20px;
	line-height: 21px;
}